@charset "utf-8";

h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 20px;
    background: #0099ff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 603px;
}
