table {
    border-collapse: collapse;
}

th {
    border: solid 1px #666666;
    color: #000000;
    background-color: #a0f3ff;
}

td {
    border: solid 1px #666666;
    color: #000000;
    background-color: #ffffff;
}