html {

}
body {
    margin-top:30px;
    background: linear-gradient(#fff9cf, #ffffff);
}
div {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px #999;
    height: 90%;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}
