html {
    min-height: 100%;
}

body {
    background: linear-gradient(#89e7ff,#ffffff);
}

h1.title{
  background-color: rgb(130, 255, 130);
  padding: 5px;
  width: 100%;
  position: fixed;
  transform: translate(-10px,-30px);
  z-index: 1;
box-shadow: 0px 1px 5px 0px #504e4e;
}

.contents{
  z-index :0;
  transform: translate(0px,18%);
}

div.header{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  border-radius: 16px;
  box-shadow: inset 0px 0px 10px 2px #504e4e;
}
img.yoyaku {
    width: auto;
    height: 70px;
}

p.systeminformation_box {
    height: 6.8em;
    overflow: auto;
    background-color: honeydew;
    border-radius: 16px;
    max-width: 800px;
    padding-left: 6px;
    box-shadow: inset 0px 0px 10px 2px #504e4e;
}

p.information_box {
    height: 6.8em;
    overflow: auto;
    border: gray,5px;
    background-color: lightyellow;
    border-radius: 16px;
    max-width: 800px;
    padding-left: 6px;
    box-shadow: inset 0px 0px 10px 2px #504e4e;
}
.map{
  height: 300px;
  width: 1000px;
}
h1 {
    border-bottom-style: ridge;
}

h4 {
    border-bottom-style: ridge;
}

.help ul {
  padding: 0;
}

.help ul li {
    list-style: none;
    cursor:pointer;
}

.close{
    display: none;
}
